{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'NahuCar/css/login.css' %}">
    <title>Iniciar Sesion</title>
</head>
<body>
    
    <div class="login-page">
        <div class="form">
            <!-- Formulario registrar-->
            <!-- <form class="form-registrar" action="{% url 'log_in' %}" method="post" >
                
                <h1>Crear Cuenta</h1>
                <p class="errorRegistro"></p>
                <input type="text" placeholder="Correo" autofocus>
                <input type="text" placeholder="Usuario" autofocus>
                <input type="text" placeholder="Contraseña" autofocus>
                <button class="button-registar">Registrar</button>
                <p class="mensaje">Ya tiene Cuenta? <a href="#">Iniciar Sesion</a></p>
            </form> -->
    
            <!-- Form login -->
            <form class="form-login" action="{% url 'log_in' %}" method="post" >
                {% csrf_token %}
                <h1>Iniciar Sesion</h1>
                <p class="errorLogin"></p>
                <input type="text" class="form-control" id="username" name="username" placeholder="Usuario">
                <input type="text" class="form-control" id="password" name="password" placeholder="Contraseña">
                <button type="submit" class="button-login">Iniciar Sesion</button>
                <!-- <p class="mensaje">No tiene Cuenta? <a href="#">Crear Cuenta</a></p> -->
            </form>
        </div>
    </div>
</body>
</html>