{% extends 'base.html' %}
{% load static %}


{% block title %}Historial{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'NahuCar/css/input_search.css' %}">
    <link rel="stylesheet" href="{% static 'NahuCar/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'NahuCar/css/table.css' %}">
    <link rel="stylesheet" href="{% static 'NahuCar/css/filter.css' %}">
{% endblock css %}

{% block search %}
    <input type="search" placeholder=" ¿Qué desea buscar?">
{% endblock search %}


{% block container %}
    <div class="container ">
        <div class="row">
            <!--Tabla de productos-->
            <div class="col-xl-12 col-lg-12 style-general-table">
                <table class="table-products">
                
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Fecha</td>
                            <td>Producto</td>
                            <td>Precio</td>
                            <td>Cantidad</td>
                            <td>Categoría</td>
                            <td>Acción</td>
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in histories %}
                            <tr>
                                <td>{{record.id}}</td>
                                <td>{{record.created_date}}</td>
                                <td>{{record.inventory.product.product_name}}</td>
                                {% if record.inventory.product.category.category_name == 'Combustible' %}
                                <td>{{record.inventory.product.product_price}} </td>
                                {% else %}
                                <td>{{record.inventory.product.product_price}} c/u.</td>
                                {% endif %}
                                {% if record.type_action == '1' %}
                                    <td style="color: #22c987;"> + {{record.quantity}}</td>
                                {% elif record.type_action == '2'%}
                                    <td style="color: #ca3422;"> - {{record.quantity}}</td>
                                {% endif %}

                                <td>{{record.inventory.product.category.category_name}}</td>
                                {% if record.type_action == '1' %}
                                    <td style="color: #22c987;"> {{record.get_type_action_display}}</td>
                                {% elif record.type_action == '2'%}
                                    <td style="color: #ca3422;"> {{record.get_type_action_display}}</td>
                                {% endif %}

                               
                            
                            </tr>
                        {% endfor %}
                         
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
{% endblock container %}


