{% extends 'base.html' %}
{% load static %}


{% block title %}Inventario{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'NahuCar/css/input_search.css' %}">
    <link rel="stylesheet" href="{% static 'NahuCar/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'NahuCar/css/table.css' %}">
     <link rel="stylesheet" href="{% static 'NahuCar/css/inventory.css' %}">
{% endblock css %}

{% block search %}
    <input type="search" placeholder=" ¿Que desea buscar?">
{% endblock search %}


{% block container %}
    <div class="container">
        <div class="row container-analysis">
            <div class="box-analysis shadow-lg">
                <div id="box-category" class="box-icon">
                    <i class="fas fa-list-ul"></i>
                </div>
                <div class="box-description">
                    <p>{{count_categories}}</p>
                    <h4>Categoria</h4>
                </div>
            </div>
            <div class="box-analysis shadow-lg">
                <div id="box-product" class="box-icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="box-description">
                    <p>{{count_products}}</p>
                    <h4>Productos</h4>
                </div>
            </div>
                
            <div class="box-analysis shadow-lg">
                <div id="box-action" class="box-icon">
                    <i class="fas fa-dollar-sign"></i>
                </div>
                <div class="box-description">
                    <p>{{count_inventory}}</p>
                    <h4>Acciones</h4>
                </div>
            </div>
        </div>
        <div class="row">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha de creacion</th>
                    <th>Ultima modificacion</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Accion</th>
                </tr>
            </thead>

            <tbody>

            {% for inventory in inventories  %}
                <tr>
                    <td>{{inventory.id}}</td>
                    <td>{{inventory.created_date}}</td>
                    <td>{{inventory.updated_date}}</td>
                    <td>{{inventory.product.product_name}}</td>
                    <td>{{inventory.inventory_stock}}</td>
                    <td>{{inventory.product.product_price}}</td>
                    <td>{{inventory.product.category.category_name}}</td>
                    <td>
                       <button  
                            id="show-inventory-info"
                            class="btn btn-primary show-inventory-info" 
                        >
                            Modificar
                        </button>
                    </td>

                </tr>
            
            {% endfor %}
            
            </tbody>
        </table>
        </div>
    </div>
       

<!-- Modal para insertar un producto-->
<div class="modal fade modal-insert" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inserta o Retirar la nueva cantidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Codigo del producto: <p id="product-id">{{inventory_by_id.id}}</p>
        </p>
        <p id="employee-fullname">Empleado: {{request.user}}</p>
        <p>
            Nombre del producto: <p id="product-name"></p>
        </p>
        <p>
        Precio: <p id="price"></p>
        </p>
        <p>
            Existencia: <p id="stock"></p>
        </p>
        <hr>
        <form action="">
            <div class="mb-3">
                <label for="type-action" class="form-label">Categoria del producto</label>
                <select name="type-action" id="type-action" class="form-select form-control-chosen" >
                    <option value="1"> Seleccionar Tipo de accion</option>        
                </select>
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Cantidad</label>
                <input type="text" class="form-control" id="quantity"  name="quantity" >
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button 
            type="button" 
            id="btn-update-inventory" 
            data-action="234234" 
            data-productId="185" 
            class="btn btn-primary"
        >
            Realizar Accion
        </button>
      </div>
    </div>
  </div>
</div>


{% endblock container %}

{% block js %}
    <script src="{% static 'NahuCar/js/inventory.js' %}"></script>
{% endblock js %}


